/* Computed styles before any custom CSS: */

body > main > div.full-width.Template-content > div > div.col.col--side.Sidebar.qa-div-sidebar.custom-sidebar > div > div:nth-child(1) > div, .customHTMLContainer {    
    --borderradius-base: 4px;
    --config--main-border-base-color: #d1d6deff;
    --config--main-button-base-font-color: #1a1a1a;
    --config--main-button-base-font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    --config--main-button-base-font-weight: 400;
    --config--main-button-base-radius: 3px;
    --config--main-button-base-texttransform: none;
    --config--main-color-alert: #ed5937ff;
    --config--main-color-brand: #0a9828ff;
    --config--main-color-brand-secondary: #6cbd27ff;
    --config--main-color-contrast: #2aaae1;
    --config--main-color-day: #f0f2f6;
    --config--main-color-day-dark: #ededed;
    --config--main-color-day-light: #fff;
    --config--main-color-disabled: #f6f8faff;
    --config--main-color-dusk: #a7aeb5;
    --config--main-color-dusk-dark: #616a73;
    --config--main-color-dusk-light: #d5d7db;
    --config--main-color-highlighted: #B0DFF3;
    --config--main-color-info: #f79321ff;
    --config--main-color-night: #2f3749ff;
    --config--main-color-night-inverted: #f5f5f5;
    --config--main-color-night-light: #2b2b2b;
    --config--main-color-success: #0a9828ff;
    --config--main-font-base-lineheight: 1.5;
    --config--main-font-base-stack: 'Open Sans', montserrat, Arial, sans-serif;
    --config--main-font-base-style: normal;
    --config--main-font-base-weight: normal;
    --config--main-font-secondary: montserrat, Arial, sans-serif;
    --config--main-header-font-weight: 600;
    --config-anchor-base-color: #0a9828ff;
    --config-anchor-base-hover-color: #0a9828ff;
    --config-avatar-notification-background-color: #0a9828ff;
    --config-body-background-color: #f3f3f3ff;
    --config-body-wrapper-background-color: transparent;
    --config-body-wrapper-box-shadow: 0 0 0 transparent;
    --config-body-wrapper-max-width: 100%;
    --config-button-cancel-active-background-color: rgba(237, 89, 55, 0.15);
    --config-button-cancel-active-border-color: #C53311;
    --config-button-cancel-active-color: #ed5937;
    --config-button-cancel-background-color: transparent;
    --config-button-cancel-border-color: #2f3749;
    --config-button-cancel-border-radius: 3px;
    --config-button-cancel-border-width: 1px;
    --config-button-cancel-box-shadow: 0 0 0 transparent;
    --config-button-cancel-color: #2f3749;
    --config-button-cancel-hover-background-color: rgba(237, 89, 55, 0.1);
    --config-button-cancel-hover-border-color: #DD3913;
    --config-button-cancel-hover-color: #ed5937;
    --config-button-cta-active-background-color: #3BAA28;
    --config-button-cta-active-border-color: #3BAA28;
    --config-button-cta-active-border-width: 1px;
    --config-button-cta-active-box-shadow: 0 0 0 transparent;
    --config-button-cta-active-color: #fff;
    --config-button-cta-background-color: #0a9828;
    --config-button-cta-border-color: #0a9828;
    --config-button-cta-border-radius: 3px;
    --config-button-cta-border-width: 1px;
    --config-button-cta-box-shadow: 0 0 0 transparent;
    --config-button-cta-color: #fff;
    --config-button-cta-focus-background-color: #098e25ff;
    --config-button-cta-focus-border-color: #088022ff;
    --config-button-cta-focus-border-width: 1px;
    --config-button-cta-focus-color: #fff;
    --config-button-cta-hover-background-color: #3BAA28;
    --config-button-cta-hover-border-color: #3BAA28;
    --config-button-cta-hover-border-width: 1px;
    --config-button-cta-hover-box-shadow: 0 0 0 transparent;
    --config-button-cta-hover-color: #fff;
    --config-button-cta-spinner-color: #fff;
    --config-button-cta-spinner-hover-color: #fff;
    --config-button-secondary-active-background-color: #C7177D;
    --config-button-secondary-active-border-color: #C7177D;
    --config-button-secondary-active-border-width: 1px;
    --config-button-secondary-active-box-shadow: 0 0 0 transparent;
    --config-button-secondary-active-color: #fff;
    --config-button-secondary-background-color: #DE1C8C;
    --config-button-secondary-border-color: #DE1C8C;
    --config-button-secondary-border-radius: 3px;
    --config-button-secondary-border-width: 1px;
    --config-button-secondary-box-shadow: 0 0 0 transparent;
    --config-button-secondary-color: #fff;
    --config-button-secondary-focus-background-color: #60a823ff;
    --config-button-secondary-focus-border-color: #60a823ff;
    --config-button-secondary-focus-border-width: 1px;
    --config-button-secondary-focus-color: #fff;
    --config-button-secondary-hover-background-color: #C7177D;
    --config-button-secondary-hover-border-color: #C7177D;
    --config-button-secondary-hover-border-width: 1px;
    --config-button-secondary-hover-box-shadow: 0 0 0 transparent;
    --config-button-secondary-hover-color: #fff;
    --config-button-secondary-spinner-color: #fff;
    --config-button-secondary-spinner-hover-color: #fff;
    --config-button-toggle-active-background-color: #C7177D;
    --config-button-toggle-active-border-color: #C7177D;
    --config-button-toggle-active-color: #fff;
    --config-button-toggle-background-color: #DE1C8C;
    --config-button-toggle-border-color: #DE1C8C;
    --config-button-toggle-border-radius: 3px;
    --config-button-toggle-border-width: 1px;
    --config-button-toggle-box-shadow: 0 0 0 transparent;
    --config-button-toggle-color: #fff;
    --config-button-toggle-filled-background-color: #0a9828ff;
    --config-button-toggle-filled-color: #fff;
    --config-button-toggle-filled-pseudo-color: #fff;
    --config-button-toggle-filled-spinner-color: #fff;
    --config-button-toggle-focus-border-color: #088022ff;
    --config-button-toggle-hover-background-color: #C7177D;
    --config-button-toggle-hover-border-color: #C7177D;
    --config-button-toggle-hover-color: #fff;
    --config-button-toggle-on-active-background-color: #3BAA28;
    --config-button-toggle-on-active-border-color: #3BAA28;
    --config-button-toggle-on-active-color: #fff;
    --config-button-toggle-on-background-color: #0a9828;
    --config-button-toggle-on-border-color: #0a9828;
    --config-button-toggle-on-border-radius: 3px;
    --config-button-toggle-on-border-width: 1px;
    --config-button-toggle-on-box-shadow: 0 0 0 transparent;
    --config-button-toggle-on-color: #fff;
    --config-button-toggle-on-hover-background-color: #3BAA28;
    --config-button-toggle-on-hover-border-color: #3BAA28;
    --config-button-toggle-on-hover-color: #fff;
    --config-button-toggle-outline-background-color: #0a9828ff;
    --config-button-toggle-outline-color: #0a9828ff;
    --config-button-toggle-outline-pseudo-color: #0a9828ff;
    --config-button-toggle-outline-spinner-color: #0a9828ff;
    --config-content-type-article-color: #fff;
    --config-cookie-modal-background-color: rgba(60,60,60,.9);
    --config-cookie-modal-color: #fff;
    --config-create-topic-type-icon-color: #2f3749ff;
    --config-cta-close-button-color: #a7aeb5;
    --config-cta-icon-background-color: #0a9828ff;
    --config-cta-icon-check: #fff;
    --config-editor-comment-toolbar-background-color: #fff;
    --config-editor-comment-toolbar-button-color: #2f3749ff;
    --config-editor-comment-toolbar-button-hover-color: #0a9828ff;
    --config-footer-background-color: #2f3749ff;
    --config-footer-color: #fff;
    --config-header-color: #2f3749ff;
    --config-header-color-inverted: #f5f5f5;
    --config-hero-background-position: top left;
    --config-hero-color: #ffffffff;
    --config-hero-font-weight: bold;
    --config-hero-stats-background-color: #fff;
    --config-hero-stats-counter-font-weight: bold;
    --config-hero-text-shadow: none;
    --config-input-focus-color: #0a9828ff;
    --config-link-base-color: #2f3749ff;
    --config-link-base-hover-color: #0a9828ff;
    --config-link-hover-decoration: none;
    --config-main-navigation-background-color: #fff;
    --config-main-navigation-border-bottom-color: #d5d7db;
    --config-main-navigation-border-top-color: #d5d7db;
    --config-main-navigation-dropdown-background-color: #fff;
    --config-main-navigation-dropdown-color: #1a1a1a;
    --config-main-navigation-dropdown-font-weight: normal;
    --config-main-navigation-nav-color: #1a1a1a;
    --config-main-navigation-nav-font-weight: normal;
    --config-main-navigation-nav-link-color: #2aaae1;
    --config-main-navigation-search-placeholder-color: #555c6bff;
    --config-mention-selector-hover-selected-color: #fff;
    --config-meta-link-font-weight: normal;
    --config-meta-link-hover-color: #0a9828ff;
    --config-meta-text-color: #555c6bff;
    --config-notification-widget-background-color: #0a9828ff;
    --config-notification-widget-color: #ffffffff;
    --config-pagination-active-page-color: #0a9828ff;
    --config-paging-item-hover-color: #0a9828ff;
    --config-pill-color: #fff;
    --config-powered-by-insided-display: visible;
    --config-profile-user-statistics-background-color: #fff;
    --config-sharpen-fonts: true;
    --config-sidebar-widget-color: #2f3749ff;
    --config-sidebar-widget-font-family: 'Open Sans', montserrat, Arial, sans-serif;
    --config-sidebar-widget-font-weight: 600;
    --config-sidebar-widget-username-color: #2f3749ff;
    --config-ssi-header-height: auto;
    --config-ssi-header-mobile-height: auto;
    --config-subcategory-hero-color: #2f3749ff;
    --config-tag-modify-link-color: #0a9828ff;
    --config-tag-pill-background-color: #f0f2f6;
    --config-tag-pill-hover-background-color: #96ffb4ff;
    --config-tag-pill-hover-border-color: #0a9828ff;
    --config-tag-pill-hover-color: #0a9828ff;
    --config-thread-list-best-answer-background-color: #0a98280d;
    --config-thread-list-best-answer-border-color: #0a9828ff;
    --config-thread-list-mod-break-background: #0a98280d;
    --config-thread-list-mod-break-border-color: #0a9828ff;
    --config-thread-list-sticky-topic-background: #0a9828f2;
    --config-thread-list-sticky-topic-border-color: #0a9828ff;
    --config-thread-list-sticky-topic-flag-color: #0a9828ff;
    --config-thread-list-topic-button-subscribe-border-width: 1px;
    --config-thread-list-topic-title-font-weight: bold;
    --config-thread-pill-answer-background-color: #0a9828ff;
    --config-thread-pill-author-background-color: #0a9828ff;
    --config-thread-pill-author-color: #fff;
    --config-thread-pill-question-background-color: #de1c8cff;
    --config-thread-pill-question-color: #fff;
    --config-thread-pill-sticky-background-color: #0a9828ff;
    --config-thread-pill-sticky-color: #fff;
    --config-topic-page-answered-field-icon-color: #0a9828ff;
    --config-topic-page-answered-field-link-color: #0a9828ff;
    --config-topic-page-header-font-weight: 600;
    --config-topic-page-post-actions-active: #0a9828ff;
    --config-topic-page-post-actions-icon-color: #a7aeb5;
    --config-topic-page-quote-border-color: #d1d6deff;
    --config-topic-question-color: #de1c8cff;
    --config-username-hover-color: #0a9828ff;
    --config-username-hover-decoration: none;
    --config-widget-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
    --config-widget-cta-background-color: #f0f2f6ff;
    --config-widget-cta-color: #2f3749ff;
    --config-widget-tabs-font-weight: normal;
    --config-widget-tabs-forum-list-header-color: #2f3749ff;
    --config-widget-tabs-forum-list-header-hover-color: #0a9828ff;
    --config-card-border-radius: 8px;
    --config-card-border-width: 0px;
    --config-card-background-color: #fff;
    --config-card-title-color: #2F3749;
    --config-card-text-color: #555C6B;
    --config-card-border-color: #d1d6deff;
    --config-card-hover-background-color: #ffffff;
    --config-card-hover-title-color: #2f3749ff;
    --config-card-hover-text-color: #2f3749ff;
    --config-card-hover-border-color: #d1d6deff;
    --config-card-hover-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.08);
    --config-card-active-background-color: #ffffff;
    --config-card-active-title-color: #2f3749ff;
    --config-card-active-text-color: #2f3749ff;
    --config-card-active-border-color: #d1d6deff;
    --config-button-border-width: 1px;
    --config-button-border-radius: 3px;
    --config-button-cta-hover-border-radius: 3px;
    --config-button-cta-active-border-radius: 3px;
    --config-button-secondary-hover-border-radius: 3px;
    --config-button-secondary-active-border-radius: 3px;
    --config-button-toggle-hover-border-radius: 3px;
    --config-button-toggle-active-border-radius: 3px;
    --config-button-toggle-on-hover-border-radius: 3px;
    --config-button-toggle-on-active-border-radius: 3px;
    --config-button-cancel-hover-border-radius: 3px;
    --config-button-cancel-active-border-radius: 3px;
    color: var(--config--main-color-night);
    font-family: var(--config--main-font-base-stack);
    font-weight: var(--config--main-font-base-weight);
    font-style: var(--config--main-font-base-style);
    line-height: var(--config--main-font-base-lineheight);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    box-sizing: border-box;
    padding: 0 16px;
    border: 1px solid green;
    background-color: white; 
}

/* Custom styles: */

.customHTMLContainer {
    border: 1px solid green;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #d3d3d3;
  	padding: 1rem;
}

.customHTMLContainer a:hover {
  text-decoration: underline;
}

.customHTMLContainer h3,
.customHTMLContainer li {
 	padding-bottom: 0.5rem; 
}


/* Styles for dev purposes: */

.customHTMLContainer {
    width: 20rem;
}